<header>
    <h1 class="page-header">{{ vm.group.name || "Test" }}</h1>
</header>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a data-target="#current" data-toggle="tab">Current Reading</a></li>
    <li role="presentation"><a data-target="#past" data-toggle="tab">Past Readings</a></li>
    <li role="presentation"><a data-target="#members" data-toggle="tab">Members</a></li>
</ul>

<div class="tab-content">
    
    <!-- Current Reading -->
    <section role="tabpanel" class="tab-pane active fade in" id="current">

        <!-- Admin Controls -->
        <header ng-if="vm.isAdmin" class="pull-right">
            <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" title="Settings" data-toggle="dropdown">
                    <i class="material-icons">settings</i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-toggle="modal" data-target="#newReadingModal"> 
                            <i class="material-icons">add</i> Create a new reading
                        </a>
                    </li>
                    <li ng-class="{ disabled: ! vm.currentReading }">
                        <a ng-click="vm.removeCurrentReading()">
                            <i class="material-icons">delete</i> Remove this reading
                        </a>
                    </li>
                    <li ng-class="{ disabled: ! vm.currentReading }">
                        <a ng-click="vm.toggleEditing()">
                            <i class="material-icons">edit</i> 
                            <span ng-show="vm.editingCurrentReading">Stop editing this reading</span>
                            <span ng-hide="vm.editingCurrentReading">Edit this reading</span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <!-- No Reading Message -->
        <div class="text-center" ng-hide="vm.currentReading">
            <p ng-show="vm.isAdmin">
                No readings found. Start a new reading.    
            </p>

            <p ng-hide="vm.isAdmin">
                No readings found. A group admin must start a new reading.
            </p>
        </div>

        <!-- Current Reading Display -->
        <bc-reading 
            ng-if="vm.currentReading"
            bc-loc="vm.currentReading.loc"
            bc-reading="vm.currentReading"
            bc-allow-editing="vm.editingCurrentReading">
        </bc-reading> 
    </section>

    <!-- Past Readings -->
    <section role="tabpanel" class="tab-pane fade" id="past">
        <header ng-if="vm.isAdmin" class="pull-right">
            <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" title="Settings" data-toggle="dropdown">
                    <i class="material-icons">settings</i>
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-class="{ disabled: ! vm.activePastReading}">
                        <a ng-click="vm.removePastReading()">
                            <i class="material-icons">delete</i> Remove this reading
                        </a>
                    </li>
                    <li ng-class="{ disabled: ! vm.activePastReading }">
                        <a ng-click="vm.toggleEditing()">
                            <i class="material-icons">edit</i> 
                            <span ng-show="vm.editingCurrentReading">Stop editing this reading</span>
                            <span ng-hide="vm.editingCurrentReading">Edit this reading</span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="text-center" ng-hide="vm.pastReadings.length">
            No past readings.
        </div>

        <div class="row">
            <bc-reading 
                ng-if="vm.activePastReading"
                bc-loc="vm.activePastReading.loc"
                bc-reading="vm.activePastReading"
                bc-allow-editing="vm.editingCurrentReading">
            </bc-reading> 
        </div>

        <div class="text-center" ng-show="vm.pastReadings.length > 1">
            <ul class="pager">
                <li ng-class="{ 'disabled': vm.page === 1 }">
                    <a class="withripple" href="javascript:void(0)" ng-click="vm.prevPage()">Previous</a>
                </li>
                <li ng-class="{ 'disabled': vm.page === vm.pastReadings.length }">
                    <a class="withripple" href="javascript:void(0)" ng-click="vm.nextPage()">Next</a>
                </li>
            </ul>
        </div>

    </section>

    <section role="tabpanel" class="tab-pane fade" id="members">
        <div class="col-md-6 col-xs-12 top-margin">
            <div class="well">
                <header>
                    <h4>Group Admins</h4>
                </header>
                
                <div class="list-group top-margin">
                    <div class="list-group-item" ng-repeat-start="admin in vm.admins">
                        <div class="row-action-primary">
                            <i class="material-icons">person</i>
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading">
                                <a ui-sref="profile({ userId: admin._id })">
                                    {{ admin.firstName || admin.username }} {{ admin.firstName ? admin.lastName : "" }}
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="list-group-separator" ng-repeat-end></div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 top-margin">
            <div class="well">
                <header>
                    <h4>Group Members</h4>
                </header>
                
                <div class="text-center" ng-show="!vm.members.length">
                    No members found.
                </div>

                <div class="list-group top-margin">
                    <div class="list-group-item" ng-repeat-start="member in vm.members">
                        <div class="row-action-primary">
                            <i class="material-icons">person</i>
                        </div>
                        <div class="row-content">
                            <div class="action-secondary" ng-if="vm.isAdmin">
                                <i class="material-icons" title="Remove member" ng-click="vm.removeMember(member)">delete</i>
                                <i class="material-icons" title="Promote to admin" ng-click="vm.promoteMember(member)">arrow_upward</i>
                            </div>
                            <h4 class="list-group-item-heading">
                                <a ui-sref="profile({ userId: member._id })">
                                    {{ member.firstName || member.username }} {{ member.firstName ? member.lastName : "" }}
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="list-group-separator" ng-repeat-end></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-xs-12 top-margin" ng-if="vm.isAdmin && vm.group.visibility === 'PRIVATE'">
            <div class="well">
                <header>
                    <h4>Requests</h4>
                </header>
                
                <div class="list-group top-margin">
                    <div class="list-group-item" ng-repeat-start="requester in vm.requesters">
                        <div class="row-action-primary">
                            <i class="material-icons pointer" ng-click="vm.approveRequest(requester)">check</i>
                        </div>
                        <div class="row-content">
                            <div class="action-secondary">
                                <i class="material-icons" ng-click="vm.rejectRequest(requester)">delete</i>
                            </div>
                            <h4 class="list-group-item-heading">
                                <a ui-sref="profile({ userId: requester._id })">
                                    {{ requester.firstName || requester.username }} {{ requester.firstName ? requester.lastName : "" }}
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="list-group-separator" ng-repeat-end></div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="newReadingModal">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        		<h4 class="modal-title">New Reading</h4>
      		</div>
      		<div class="modal-body">
				<form>
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input type="date" id="startDate" class="form-control" ng-model="vm.newReading.startDate">
                    </div>

                    <div class="form-group">
                        <label for="endDate">End Date</label>
                        <input type="date" id="endDate" class="form-control" ng-model="vm.newReading.endDate">
                    </div>
				</form>
      		</div>
      		<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="vm.selectBookForNewReading()">
                    Select a Book
                </button>
			</div>
    	</div>
  	</div>
</div>

