<header>
    <h1 class="page-header">Login</h1>
</header>

<div class="col-lg-6 col-lg-offset-3 col-xs-12 col-xs-offset-0">

    <div class="well">
        <div class="alert alert-danger alert-dismissable" ng-show="vm.message">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ vm.message }}
        </div>
       
        <form>
            <div class="form-group label-floating is-empty">
                <label class="control-label" for="username">Username</label>
                <input class="form-control" type="text" ng-model="vm.username" id="username">
            </div>
            
            <div class="form-group label-floating is-empty">
                <label class="control-label" for="password">Password</label>
                <input class="form-control" type="password" ng-model="vm.password" id="password">
            </div>

            <div class="form-group text-right">
                <button class="btn btn-primary btn-raised" ng-click="vm.login()">Login</button>
            </div>
        </form>
    </div>
</div>
