<div class="list-group-item">
    <div class="row-action-primary">
        <img class="circle" ng-src="{{ vm.book.cover.thumb }}" title="{{ vm.book.title }}">
    </div>

    <div class="row-content"> 
        <div class="action-secondary">
            <i class="material-icons" ng-click="vm.toggleDetails()">{{ vm.detailsIcon }}</i>
        </div>

        <h3 class="list-group-item-heading">{{ vm.book.title }} <small>{{ vm.book.authors.join(', ') }}</small></h3>
        
        <div class="list-group-item-text">
            <div ng-if="vm.book.rating" 
                 bc-rating 
                 bc-value="vm.book.rating" 
                 bc-out-of="5" 
                 bc-num-ratings="vm.book.numRatings">
            </div>
        </div>
    </div>
</div>

<div class="list-group-item" ng-show="vm.showDetails">
    <div class="row-action-primary">
    </div>
    <div class="row-content" style="margin-left: 56px;">
        <div class="list-group-item-text">
            <p>
                <span ng-if="vm.book.publisher">{{ vm.book.publisher }} |<span> 
                <span ng-if="vm.book.date">{{ vm.book.date | date }} |<span>
                <span ng-if="vm.book.pages">{{ vm.book.pages }} pages</span> 
            </p>

            <p>
                {{ vm.book.description }}
            </p>

            <p class="pull-right" ng-if="vm.includeFooter">
                <button class="btn btn-primary" ng-click="vm.select()">Select this Book</button> 
            </p>
        </div>
    </div>
</div>
