/**
 * Styles for The Book Club
 *
 */


/**
 * Search Result Styles
 */
.book {
    border-bottom: 1px solid black;
    padding: 40px 0;
    color: #595959;
}

.book-metadata {
    margin-top: 10px;
    text-align: center;
}

.book-controls {
    margin-top: 10px;
    text-align: right;
}

@media (min-width: 768px) {
    .book-metadata {
        margin-top: 0;
        text-align: left;
    }
}

.book-title {
    color: black;
    font-size: 1.5em; 
    margin-right: 10px;
}

.book-description {
    margin-top: 10px;
}

.msg {
    font-style: italic;
    color: #595959;
    padding-top: 20px;
    text-align: center;
}

.book-cover {
	text-align: center;
}

/** Table Styles **/
td.table-controls {
    vertical-align: middle !important;
}

/** Discussion Styles **/
.discussion-topic {
    border-bottom: 2px solid black;
    padding: 5px 15px;
    font-size: 1.5em;
    text-align: center;
}

.discussion-comment {
    border: 1px dashed black;
    margin: 20px 0;
    position: relative;
    background: lightgray;
}

.discussion-comment-text {
    margin: 5px 15px;
}

.discussion-comment-details {
    margin: 5px 15px;
    font-size: .8em;
}

.discussion-comment-delete {
    font-size: .8em;
    position: absolute;
    top: 5px;
    right: 5px;
}

.discussion-comment-delete a {
    cursor: pointer;
}

.discussion-new-comment {
    margin-top: 30px;
}

.discussion-new-comment textarea {
    resize: none;
}

a {
    cursor: pointer;
}

.text-preview {
    text-overflow: ellipsis;
}

.reading-discussions {
    position: relative;
}

.notification {
    margin: 10px 0;
    padding: 5px 10px;
}

.rating {
    padding: 0;
    margin: 0;
}

.rating li {
    display: inline;
    list-style-type: none;
}
