/**
 * Styles for The Book Club
 *
 */


/**
 * Search Result Styles
 */
.book {
    border-bottom: 1px solid black;
    padding: 40px 0;
    color: #595959;
}

.book-title {
    color: black;
    font-size: 1.5em; 
    margin-right: 10px;
}

.book-description {
    margin-top: 10px;
}

.msg {
    font-style: italic;
    color: #595959;
    padding-top: 20px;
    text-align: center;
}

.book-cover {
	text-align: center;
}

/** Table Styles **/
td.table-controls {
    vertical-align: middle !important;
}

/** Discussion Styles **/
.discussion-topic {
    width: 100%;
    border-bottom: 2px solid black;
    padding: 5px 15px;
    font-size: 1.5em;
    text-align: center;
}

.discussion-comment {
    width: 100%;
    border: 1px dashed black;
    margin-top: 20px;
    position: relative;
    background: lightgray;
}

.discussion-comment-text {
    margin: 5px 15px;
}

.discussion-comment-details {
    margin: 5px 15px;
    font-size: .8em;
}

.discussion-comment-delete {
    font-size: .8em;
    position: absolute;
    top: 5px;
    right: 5px;
}

.discussion-comment-delete a {
    cursor: pointer;
}

.discussion-new-comment {
    width: 50%;
    margin-top: 30px;
}

.discussion-new-comment textarea {
    resize: none;
}
