/**
 * Styles for Form Maker
 *
 * Adapted from dashboard.css from bootstrap's dashboard example
 */

body {
    padding-top: 50px;  /* push content down so it doesn't get covered by the fixed header */
}

/**
 * Sidebar navigation styles
 */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    
    .sidebar {
        position: fixed;
        top: 50px;
        left: 0;
        bottom: 0;
        
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }

}

.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

/**
 * Main content styles
 */
.main {
    padding: 20px;
}

@media (min-width: 768px) {
    
    .main {
        padding-left: 40px;
        padding-right: 40px;
    }

}

.main .page-header {
	margin-top: 0px;
}

/**
 * Table styles
 */
td.table-controls {
    vertical-align: middle !important;
}

/**
 * Tab Styles
 */
.tab-content {
    padding: 20px 10px;
}
