<header>
    <h1 class="page-header">Forms : Registration Form</h1>
</header>

<nav>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="./forms.html">Forms</a></li>
        <li role="presentation" class="active"><a href="javascript:void()">Fields</a></li>
    </ul>
</nav>

<div class="tab-content">
    <div role="tab-panel" class="tab-pane active">
       
        <form>
            <!-- First Name Control -->
            <div class="form-group">
                <label for="fname">First Name</label>
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="fname" placeholder="First Name">
                    </div>
                    <div class="col-sm-3 btn-group" role="group">
                        <button class="btn btn-default" type="button" title="Edit Field">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Clone Field">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Remove Field">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Reorder Field">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Last Name Control -->
            <div class="form-group">
                <label for="lname">Last Name</label>
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="lname" placeholder="Last Name">
                    </div>
                    <div class="col-sm-3 btn-group" role="group">
                        <button class="btn btn-default" type="button" title="Edit Field">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Clone Field">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Remove Field">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Reorder Field">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </div>
                </div>
            </div>
            
            <!-- DoB Control -->
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <div class="row">
                    <div class="col-sm-9">
                        <input type="date" class="form-control" id="dob">
                    </div>
                    <div class="col-sm-3 btn-group" role="group">
                        <button class="btn btn-default" type="button" title="Edit Field">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Clone Field">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Remove Field">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Reorder Field">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Gender Control -->
            <div class="form-group">
                <label for="gender">Gender</label>
                <div class="row">
                    <div class="col-sm-9">
                        <select class="form-control" id="gender">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="col-sm-3 btn-group" role="group">
                        <button class="btn btn-default" type="button" title="Edit Field">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Clone Field">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Remove Field">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Reorder Field">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </div>
                </div>
            </div>
            
            <!-- Roles Control -->
            <div class="form-group">
                <label>Roles</label>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" checked>
                                Admin
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Student 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" checked>
                                User 
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 btn-group" role="group">
                        <button class="btn btn-default" type="button" title="Edit Field">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Clone Field">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Remove Field">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Reorder Field">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </div>
                </div>
            </div>
            
            <!-- License Control -->
            <div class="form-group">
                <label>License Agreement</label>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="radio">
                            <label>
                                <input type="radio" name="license" id="licenseYes" value="licenseYes" checked>
                                Yes 
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="license" id="licenseNo" value="licenseNo">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 btn-group" role="group">
                        <button class="btn btn-default" type="button" title="Edit Field">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Clone Field">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Remove Field">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-default" type="button" title="Reorder Field">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </div>
                </div>
            </div>

            <hr />

            <!-- New Field Control -->
            <div class="form-group">
                <label>Add New Field</label>
                <div class="row">
                    <div class="col-sm-9">
                        <select class="form-control" id="newField">
                            <option>Single Line Text</option>
                            <option>Date</option>
                            <option>Dropdown</option>
                            <option>Checkboxes</option>
                            <option>Radio Buttons</option>
                            <option>Paragraph Text Field</option>
                        </select>
                    </div>
                    <div class="col-sm-3 btn-group" role="group">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>
