<userheader>
    <h1 class="page-header">Admin</h1>
</header>

<section>
    <header>
        <h3 class="sub-header">Users</h3>
    </header>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="js-table-sort-control" ng-class="{ sorted: vm.predicate === 'username', reversed: vm.reversed }">
                        <a href="javascript:void(0)" ng-click="vm.sort('username')">Username</a>
                    </th>
                    <th>Password</th>
                    <th class="js-table-sort-control" ng-class="{ sorted: vm.predicate === 'firstName', reversed: vm.reversed }">
                        <a href="javascript:void(0)" ng-click="vm.sort('firstName')">First Name</a>
                    </th>
                    <th class="js-table-sort-control" ng-class="{ sorted: vm.predicate === 'lastName', reversed: vm.reversed }">
                        <a href="javascript:void(0)" ng-click="vm.sort('lastName')">Last Name</a>
                    </th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
                
                <tr>
                    <td>
                        <input type="text" class="form-control" placeholder="Username">
                    </td>
                    <td>
                        <input type="password" class="form-control" placeholder="Password">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="First Name">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Last Name">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="role" placeholder="Role 1, Role 2">
                    </td>
                    <td class="text-center table-controls">
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="user in vm.users | orderBy:vm.predicate:vm.reversed">
                    <td>{{ user.username }}</td>
                    <td></td>
                    <td>{{ user.firstName}}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.roles.join(',') }}</td>
                    <td class="text-center table-controls">
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
