<h3>Comments</h3>
<h5>Note: Comments can be created in a Discussion Detail View</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Comment ID</th>
            <th>User ID</th>
            <th>Text</th>
            <th>Parent ID</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" ng-model="vm.selected.id" disabled>
            </td>
            <td>
                <select class="form-control" ng-model="vm.selected.userDetails" ng-options="user.firstName for user in vm.users">
            </td>
            <td>
                <input type="text" class="form-control" ng-model="vm.selected.text" placeholder="Comment text">
            </td>
            <td>
                <select class="form-control" ng-model="vm.selected.parentComment" ng-options="c.id as c.id for c in vm.comments">
                    <option value="">No Parent</option>
                </select>
            </td>
            <td class="table-controls text-center">
                <a ng-click="vm.updateComment()"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="comment in vm.comments track by $index">
            <td class="text-center">{{ comment.id }}</td>
            <td>{{ comment.userDetails.firstName }}</td>
            <td>{{ comment.text }}</td>
            <td class="text-center">{{ comment.parentComment }}</td>
            <td class="table-controls text-center">
                <a ng-click="vm.deleteComment(comment)"><span class="glyphicon glyphicon-remove"></span></a>
                <a ng-click="vm.selectComment($index)"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </tbody>
</table>

