<h4>{{ vm.name }}</h4>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h5>Readings</h5>
        
        <div class="row" ng-repeat="reading in vm.readings">
            <div class="col-sm-11">
                <a ui-sref="crud.readings.details({ id: reading })">{{ reading }}</a>
            </div>
            <div class="col-sm-1">
                <a ng-click="vm.removeReading(reading)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>

    </div>
    
    <div class="col-md-6 col-sm-12">
        <h5>Members</h5>
        <div class="row" ng-repeat="admin in vm.admins">
            <div class="col-sm-11">
                {{ admin.username }} (Admin)
            </div>
            <div class="col-sm-1">
                <a ng-click="vm.removeAdmin(admin)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
        <div class="row" ng-repeat="member in vm.members">
            <div class="col-sm-11">
                {{ member.username }} 
            </div>
            <div class="col-sm-1">
                <a ng-click="vm.removeMember(member)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h5>Add Reading</h5>
        
        <form>
            <div class="form-group">
                <label for="start">Start Date</label>
                <input type="date" class="form-control" id="start" ng-model="vm.startDate">
            </div>
            
            <div class="form-group">
                <label for="end">End Date</label>
                <input type="date" class="form-control" id="end" ng-model="vm.endDate">
            </div>
            
            <div class="form-group">
                <label for="book">Book ID</label>
                <input type="text" class="form-control" id="book" placeholder="Book ID" ng-model="vm.book">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" ng-click="vm.addReading()">Add</button>
            </div>
        </form>
    </div>

    <div class="col-md-6 col-sm-12">
        <h5>Add User</h5>
        
        <form>
            <div class="form-group">
                <label for="user">Start Date</label>
                <select class="form-control" 
                        ng-model="vm.newUser" 
                        id="user" 
                        ng-options="user.firstName for user in vm.users">
                </select>
            </div>
            
            <div class="checkbox">
                <label for="admin">
                    <input type="checkbox" id="admin" ng-model="vm.newUserAdmin">
                    Admin
                </label>
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary btn-block" ng-click="vm.addUser()">Add</button>
            </div>
        </form>
    </div>
</div>
