<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Visibility</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" ng-model="vm.selected.id" disabled>
            </td>
            <td>
                <input type="text" class="form-control" ng-model="vm.selected.name">
            </td>
            <td>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="vm.selected.isPublic"> Public</label>
                </div>
            </td>
            <td class="table-controls text-center">
                <a ng-click="vm.addGroup()"><span class="glyphicon glyphicon-plus"></span></a>
                <a ng-click="vm.updateGroup()"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="group in vm.groups">
            <td class="text-center">{{ group.id }}</td>
            <td class="text-center"><a ui-sref="crud.groups.details({ id: group.id })">{{ group.name }}</a></td>
            <td class="text-center">{{ group.visibility }}</td>
            <td class="table-controls text-center">
                <a ng-click="vm.deleteGroup(group)"><span class="glyphicon glyphicon-remove"></span></a>
                <a ng-click="vm.selectGroup($index)"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </tbody>
</table>

