<!-- Page header and top level navigation -->
<nav class="navbar navbar-fixed-top navbar-default" ng-controller="HeaderController as vm">
    <div class="container-fluid">
        <header class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>	
            <a ui-sref="home" class="navbar-brand">The Book Club</a>
        </header>
    
        <section id="navbar" class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- only if not logged in -->
                <li ui-sref-active="active" ng-hide="user">
                    <a ui-sref="login">Login</a>
                </li>
                <li ui-sref-active="active" ng-hide="user">
                    <a ui-sref="register">Register</a>
                </li>

                <!-- only if logged in -->
                <li ui-sref-active="active" ng-show="user">
                    <a ui-sref="profile({ userId: user.id })">{{ user.firstName }}</a>
                </li>

                <li ui-sref-active="active" ng-show="user">
                    <a href="javascript:void(0)" ng-click="vm.logout()">Logout</a>
                </li>
            </ul>

            <!-- img src="https://books.google.com/googlebooks/images/poweredby.png" -->
            <form class="navbar-form navbar-right" ng-submit="vm.search()">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.searchQuery" placeholder="Search...">
                    <span class="material-input">
                </div>
            </form>
        </section>
    </div>
</nav>
